node_modules
dist
.next
.turbo
coverage
.env
.env.local
apps/api/.env
apps/web/.env.local
*.log
.DS_Store
apps/api/generated
apps/web/.next
apps/web/out
*.tsbuildinfo
.prisma
uploads
.idea
.vscode
apps/e2e/test-results
apps/e2e/playwright-report
apps/e2e/blob-report
apps/e2e/playwright/.cache
